 *{
  margin: 0;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
    max-width: 100%;
  }
  
input{
width: 100%;
height:20px;
border-radius: 5px;
border:none;
border:1px solid #cccccc;
}
.Left{
  margin-left: 20%;
  color: white;
  background-color: #272727;
  opacity: 0.8;
  border-radius: 8px;
  border:1px solid #272727;
  margin-top: 2%;
}
h2{
   margin-left: 25%;
   font-size: 25px;
   font-weight:900px;
   color: white;
   font-family: "Google Sans","Roboto",Arial,Helvetica,sans-serif;
}
td{
  font-family: "Roboto",Arial,Helvetica,sans-serif;
}
.right{
    margin-right: 30%; 
    margin-top: 55%;
}
.d{
    width:100%;
    height:25px;
    border-radius: 5px;
    border:none;
    border:1px solid #cccccc;
}
.button{
  color: white;
  background-color: #088837;
  height: 25px;
  font-size: 16px;
  border: none;
}
html {
  background-image: url('b1.jpg');
  background-size: 100%;
}

@media screen and (max-width: 900px){
    .col-6{
        width: 100%;
        margin-top: 0;   
    }
    .Left{
        margin-right: 15%;
    }
    html{
        background-color: black;
        background-image: none;
    }

    .right{
        margin-top: 10%;
        
    }
}
 